<!DOCTYPE html>
<html lang="en" ng-app="docker-demo">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="DockerController">


<button type="button" id="button" ng-click="incCounter()">Click me!</button>
<div id="counter" ng-bind="counter">Ich bin Sample Text</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-resource.min.js"></script>
<script src="docker-demo.js"></script>

</body>
</html>